.quote__hovered {
  transform: translateY(-7px);
}

.quote-bottom__hovered {
  opacity: 0.8;
  transform: translateY(3px);
}

.twitter-icon__hovered {
  margin-top: 5px;
}

.bottom-wrapper__hovered {
  transform: translateY(3px);
}
